:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text-color: rgba(255, 255, 255, 0.87); 
  --bg-color1: #242424;
  --bg-color2:#ffffff0d;
  --bg-color3: #5555555c;
  --bg-color4: #1b1b1b;
  --bg-color5: 255 255 255;
  --bt-active: #220ad6;
  --checkbox-color: #4caf50;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color-scheme: dark;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-color1);
  color: var(--text-color);

}

body.light {
  color-scheme: light;
  --bg-color1: #DBF0E4;
  --bg-color2: #B6E2CA;
  --bg-color3: #92D3AF;
  --bg-color4: #00665F;
  --bg-color5: 0 0 0;
  --text-color: #213547;
  --btn-text: #EDF8F2;
  --bt-active: #6FC393;
  --checkbox-color: #00665F;
  
}

/* ----- Main elements ----- */
html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  width: 100%;
  text-align: center;
}

.main-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ----- Sidebar ----- */

.sidebar {
  flex: 0 0 64px;
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  padding: 0 8px;
  background: var(--bg-color2);
  border-right: 1px solid rgb(var(--bg-color5) / 0.15);
  backdrop-filter: blur(6px);

  transition: width 0.25s ease, background 0.25s ease;
}

.sidebar.open {
  width: 220px;
}

.sidebar-action-button {
  width: 40px;
  padding: 1px 4px 4px 4px;
  border-radius: 8px;
  border: 1px solid rgb(var(--bg-color5) / 0.25);
  background: var(--bg-color3);
  cursor: pointer;
  font-size: 24px;
  text-align: center;
  margin-top: 3px;
  transition: background 0.25s ease, border-color 0.25s ease;
}

.sidebar button:hover {
  background: rgb(var(--bg-color5) / 0.15);
  border-color: rgb(var(--bg-color5) / 0.35);
}

.input-password {
  border: 1px solid #ccc;
}

.password-error {
  border: 1px solid #ff4d4d;
  background: rgba(255, 0, 0, 0.1);
}

.logout-button {
  background: var(--bg-color4);
  color: var(--btn-text);
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(var(--bg-color5) / 0.25);
  padding: 8px 12px;
}

.user-preferences-button {
  background: var(--bg-color4);
  color: var(--btn-text);
  border: 1px solid white; 
  padding: 8px; 
  border-radius: 20px;
}

/* ----- App ----- */
.todo-content {
  flex: 1;
  width: 100%;
  align-content: end;
}

.todo-content-inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 75px 16px;
}

.sort-dropdown-value {
  background: var(--bg-color4);
  color: var(--btn-text);
  border-radius: 6px;
}

/* ----- addTodoInputbox ----- */

.control-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  position: relative;
  z-index: 50;
  margin: 16px 0;
  padding: 12px 16px 4px 16px;
  min-width: 300px;
  border: 1px solid rgb(var(--bg-color5) / 0.2);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);

  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.addTodo {
  flex: 1;
  min-width: 300px;
  min-height: 40px;
  border: none;
  background: transparent;
  font-size: 20px;
  outline: none;
}

.todo-controls-button {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid rgb(var(--bg-color5) / 0.25);
  /*background: #3a3a3a;*/
  background: var(--bg-color4);
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.25s ease, border-color 0.25s ease, transform 0.25s ease;
}

.todo-controls-button:hover {
  /*background: #555; */
  background: var(--bg-color2);
  border-color: rgb(var(--bg-color5) / 0.35);
  box-shadow: 0 2px 12px rgb(var(--bg-color5) / 0.1);
  transform: translateY(-1px);
}


/* ----- dropdownbutton ----- */

.dropdown-button {
  position: relative;
}

.dropdown-panel {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
}

.dropdown-item {
  display: block;
  box-sizing: border-box;
  text-align: center;
}

/* ----- statusBar ----- */

.quick-actions-container {
  position: absolute;
  left: 20px;
}

.quick-actions-button {
  margin: 0 8px;
  padding: 0 5px;
  border-radius: 20px;
  border: 1px solid rgb(var(--bg-color5) / 0.25);
  background: var(--bg-color4);
  color: #fff;
  cursor: pointer;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.25s ease, border-color 0.25s ease, transform 0.25s ease;
}

body.light .quick-actions-button:hover {
  color: var(--text-color);
}


.quick-actions-button:hover
/*.quick-actions-button.active*/ {
  /*background: #220ad6;*/
  background: var(--bt-active);
  border-color: rgb(var(--bg-color5) / 0.35);
  box-shadow: 0 2px 12px rgb(var(--bg-color5) / 0.1);
  transform: translateY(-1px);
}

.quick-actions-button.active.search-button {
  /*background: #220ad6;*/
  background: var(--bt-active);
}

body.light .quick-actions-button.active.search-button {
  background: #cc0300;
}

.quick-actions-button.active.search-button:hover {
  color: #fff;
  transform: translateY(-1px);
}

.status-bar-mini {
  flex: 0 0 100%;
  padding-top: 2px;
  border-top: 1px solid rgb(var(--bg-color5) / 0.2);
  text-align: center;
  font-size: 14px;
  color: #ccc;
}

/* ----- todoItem ----- */

.todo-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  margin: 12px 0;
  padding: 10px 16px;

  border: 1px solid rgb(var(--bg-color5) / 0.2);
  border-radius: 8px;
  background: rgb(var(--bg-color5) / 0.05);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);

  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.todo-item:hover {
  border-color: rgb(var(--bg-color5) / 0.4);
  background: rgb(var(--bg-color5) / 0.08);
}

.todo-item:focus-within {
  border-color: rgb(var(--bg-color5) / 0.4);
  background: rgb(var(--bg-color5) / 0.08);
}

.todo-item input[type="checkbox"] {
  transform: scale(1.8);
  cursor: pointer;
  /*accent-color: #4caf50;*/
  accent-color: var(--checkbox-color);
}

.todo-done {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-text,
.todo-edit-input {
  flex: 1;
  min-width: 0;
  font-size: 20px;
  font-weight: 500;
  color: inherit;
}

.todo-text {
  word-break: break-word;
}

.todo-edit-input {
  padding: 0 5%;
  border: none;
  background: transparent;
  outline: none;
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.todo-details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
}


.expand-todo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: none;
  /*font-size: 28px;*/
  /*line-height: 1;*/
  cursor: pointer;
  transition: transform 0.2s ease;
}

.expand-todo-btn:hover {
  transform: scale(1.2);
}

.due-date-box {
  display: flex;
  flex-direction: column;
}

.due-date-box-commands {
  display: flex;
}

.due-date-button {
  margin: 1% 4% 0 4%;
  padding: 4px;
  border-radius: 15px;
  border: 1px solid rgb(var(--bg-color5) / 0.25);
  background: var(--bg-color4);
  color: #fff;
  font-size: 14px;
  cursor: pointer;

  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.25s ease, border-color 0.25s ease, transform 0.25s ease;
}

.due-date-button:hover {
  background: var(--bg-color2);
  border-color: rgb(var(--bg-color5) / 0.35);
  box-shadow: 0 2px 12px rgb(var(--bg-color5) / 0.1);
  transform: translateY(-1px);
}

body.light .due-date-button:hover {
  color:#1a1a1a;
}

.hidden-date-picker {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.drag-handle {
  cursor: grab;
  user-select: none;
  padding-right: 20px;
}

.drag-handle:active {
  cursor: grabbing;
}


/* ----- loginForm ----- */

.login-form-container {
  width: 25%;
  height: 40vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(12px);
  border: 1px solid rgb(var(--bg-color5) / 0.2);
  background: rgb(var(--bg-color5) / 0.05);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.login-form-button {
  padding: 15px;
  margin: 10px 5px;
  border-radius: 10px;;
  /*background: linear-gradient(135deg, #1f2933, #2d2e30);*/
  background: var(--bg-color2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.1rem;
  outline: none;
}

.login-form-button:hover {
  outline: none;
  border-color: rgb(var(--bg-color5) / 0.35);
  transform: translateY(2px);
  background: var(--bg-color2)
}

.login-form-input {
  height: 15%;
  margin: 5px 5px;
  border: 0px;
  border-radius: 10px;
  background: rgb(var(--bg-color5) / 0.15);
  padding: 10px;
  /*box-shadow: 0 8px 20px rgba(0,0,0,0.6);*/
  color: #ffffff;
  font-size: 1.15rem;
  font-weight: 500;
  background: transparent;
}

.login-form-input:focus {
  background: rgb(var(--bg-color5) / 0.09);
  border-color: rgb(var(--bg-color5) / 0.6);
  outline: none;
}



/* ----- Slider ----- */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #1a1a1a;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1a1a1a;
  color: white;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun-slider {
color:#1a1a1a;
}

.moon-slider {

}